<div class="container-fluid">
  <div class="custom-container">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between align-items-center">
        <span style="font-weight: bold; font-size: 25px;">USUARIOS</span>
        <div class="d-flex flex-wrap justify-content-end">
          <input 
            type="text" 
            placeholder="Buscar por nombre ..."
            (input)="buscar($event.target.value)" 
            class="form-control form-control-sm d-inline-block mr-2"
          >
          <button 
            type="button" 
            class="btn btn-success"
            (click)="agregar()"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </nb-card-header>
      
      <div class="table-responsive" *ngIf="!loading; else loadingTemplate">
        <table class="table table-sm">
          <thead class="small">
            <tr>
              <th *ngFor="let columnaActual of nombresColumnas" style="font-weight: bold; font-size: 15px;">
                {{ columnaActual }}
              </th>
            </tr>
          </thead>
          <tbody class="small">
            <ng-container *ngIf="filteredUsuarios.length; else noData">
              <ng-container *ngFor="let usuarioActual of filteredUsuarios | paginate: { itemsPerPage: 8, currentPage: p }">
                <tr>
                  <td class="table-cell">{{ usuarioActual.seudonimo }}</td>
                  <td class="table-cell">{{ usuarioActual.correo }}</td>
                  <td class="table-cell">{{ usuarioActual.contrasena }}</td>
                  <td class="table-cell">{{ usuarioActual.rol?.nombre || 'Sin Rol' }}</td>
                  <td>
                    <div class="d-flex">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm mr-2"
                        (click)="editar(usuarioActual._id)"
                        aria-label="Editar usuario {{ usuarioActual.seudonimo }}"
                      >
                        <i class="fas fa-pencil-alt"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="eliminar(usuarioActual._id)"
                        aria-label="Eliminar usuario {{ usuarioActual.seudonimo }}"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #noData>
              <tr>
                <td colspan="5" class="text-center">No hay usuarios disponibles</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <ng-template #loadingTemplate>
        <div class="text-center my-3">
          <div class="spinner-border" role="status">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
      </ng-template>
    </nb-card>
  </div>
</div>
