<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion">CREAR PERSONA</nb-card-header>
        <nb-card-header *ngIf="!modoCreacion">ACTUALIZAR PERSONA</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>identificacion</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="laPersona.identificacion">
                        <p *ngIf="intentoEnvio && laPersona.identificacion ==='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>nombre</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="laPersona.nombre">
                        <p *ngIf="intentoEnvio && laPersona.nombre ==='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>grupo</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="laPersona.grupo">
                </div>
            </div>
            <br>
            <div *ngIf="!modoCreacion" class="row" >
                <div class="col-3">
                    <label>programa</label>
                </div>
                <div class="col-9">
                    <select class="form-control" [(ngModel)]="laPersona.programa" required>
                        <option value="">Seleccione un Programa</option>
                        <option *ngFor="let programa of elprograma" [value]="programa._id">{{ programa.nombre }}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Tipo</label>
                </div>
                <div class="col-9">
                    <select class="form-control" [(ngModel)]="laPersona.tipo">
                        <option value="">Seleccione un tipo</option>
                        <option value="DOCENTE">DOCENTE</option>
                        <option value="ESTUDIANTE">ESTUDIANTE</option>
                    </select>
                    <p *ngIf="intentoEnvio && laPersona.tipo === ''">Requerido</p>
                </div>
            </div>
            
            <br>
            <div class="row">
                <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">Crear</button>
                <button *ngIf="modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
                <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">Actualizar</button>
                <button *ngIf="!modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
            </div>>
        </nb-card-body>
    </nb-card>
</div>