<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion" style="font-weight: bold; font-size: 18px;">CREAR PROGRAMA</nb-card-header>
        <nb-card-header *ngIf="!modoCreacion" style="font-weight: bold; font-size: 18px;">ACTUALIZAR PROGRAMA</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Codigo:</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="elPrograma.codigo">
                        <p *ngIf="intentoEnvio && elPrograma.codigo ==='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Nombre del Programa:</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="elPrograma.nombre">
                        <p *ngIf="intentoEnvio && elPrograma.nombre ==='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Facultad:</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"[(ngModel)]="elPrograma.facultad">
                        <p *ngIf="intentoEnvio && elPrograma.facultad ==='' ">Requerido</p>
                </div>
            </div>
            
            <br>
            <div class="row">
                <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">Crear</button>
                <button *ngIf="modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
                <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">Actualizar</button>
                <button *ngIf="!modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>