<div class="col-lg-12">
  <nb-card>
    <nb-card-header *ngIf="modoCreacion" style="font-weight: bold; font-size: 18px;">CREAR PERMISO - ROL</nb-card-header>
    <nb-card-header *ngIf="!modoCreacion" style="font-weight: bold; font-size: 18px;">ACTUALIZAR PERMISO - ROL</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-3">
          <label>Permiso:</label>
        </div>
        <div class="col-9">
          <select
            class="form-control"
            [(ngModel)]="elPermisoRol.permiso._id"
            required
          >
            <option value="">Seleccione un Permiso</option>
            <option *ngFor="let permiso of elpermiso" [value]="permiso._id">
              {{ permiso.descripcion }}
            </option>
          </select>
          <p *ngIf="intentoEnvio && elPermisoRol.permiso._id ==='' ">Requerido</p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label>Rol:</label>
        </div>
        <div class="col-9">
          <select
            class="form-control"
            [(ngModel)]="elPermisoRol.rol._id"
            required
          >
            <option value="">Seleccione un Rol</option>
            <option *ngFor="let rol of elrol" [value]="rol._id">
              {{ rol.nombre }}
            </option>
          </select>
          <p *ngIf="intentoEnvio && elPermisoRol.rol._id ==='' ">Requerido</p>
        </div>
      </div>

      <br />
      <div class="row">
        <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">Crear</button>
        <button *ngIf="modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
        <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">Actualizar</button>
        <button *ngIf="!modoCreacion" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
