<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!--<a class="logo" href="#" (click)="navigateHome()">Cap-<span>admin</span></a>-->
    <img src="../../../../assets/images/logo.png" alt="" class="imgLogo" href="#" (click)="navigateHome()">
  </div>
</div>

<div class="header-container"> 
  <a href="https://drive.google.com/file/d/1NLv0HjYFQV3PClvObwwROukhgT1Rt22t/view?usp=drive_link" target="_blank" class="help-icon" title="Manual de Usuario">
    <i class="fas fa-question-circle"></i>
  </a>

  <button class="btn btn-circle btn-block" title="Cerrar Sesion" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
  </button>
</div>
