<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!--<a class="logo" href="#" (click)="navigateHome()">Cap-<span>admin</span></a>-->
    <img src="../../../../assets/images/logo.png" alt="" class="imgLogo" href="#" (click)="navigateHome()">
  </div>
</div>

<div class="header-container">
      <button class="btn btn-circle btn-block" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
</div>
