<div class="container-fluid">
  <div class="custom-container">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between align-items-center">
        <span>ADMINISTRACIÓN DE CONSEJOS</span>
        <button type="button" class="btn btn-success" (click)="agregar()">
          <i class="fas fa-plus"></i>
        </button>
      </nb-card-header>

      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="small">
            <tr>
              <th *ngFor="let columaActual of nombresColumnas">
                {{ columaActual }}
              </th>
            </tr>
          </thead>
          <tbody class="small">
            <ng-container *ngFor="let consejoActual of Consejos">
              <tr>
                <td class="table-cell">{{ consejoActual.consejo }}</td>
                <td class="table-cell">{{ consejoActual.momento }}</td>
                <td class="table-cell">{{ consejoActual.capacidad.nombre }}</td>
                <td class="table-cell">{{ consejoActual.Nivel_Capacidad }}</td>
                <td>
                  <div class="d-flex">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm mr-2"
                      (click)="editar(consejoActual._id)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="eliminar(consejoActual._id)"
                    >
                      <i class="fas fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </nb-card>
  </div>
</div>